
FPGA_PONG.gise

*.xise

*.lst

*.xmsgs

*.projectmgr

*.xreport

*.bld

*.cmd_log

*.lso

*.ngc

*.ngd

*.ngr

*.prj

*.stx

*.syr

*.ucf

*.vhd

*.xst

*.html

*.map

*.mrp

*.xrpt

*.xml

*.xbcd

*.ref

*.bin
